<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="CariResto merupakan web yang pencari restoran yang cepat, aman, dan mudah">
  <meta name="theme-color" content="#5239EE" />

  <link rel="shortcut icon" href="./icons/favicon.png" type="image/x-icon">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

  <title>Cari Resto | Web Pencari Restoran</title>

  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>

<body>
  <a href="#list-restoran" class="skip-link" aria-label="menu">Menuju ke konten</a>

  <nav class="container-fluid">
    <app-bar></app-bar>
  </nav>

  <header class="container">
    <hero-element></hero-element>
    <img src="./images/heros/hero-image_2.jpg" alt="">
  </header>

  <main id="mainContent"></main>

  <footer>
    <app-footer></app-footer>
    <p>Copyright © 2020 - CariResto</p>
  </footer>


</body>

</html>