<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="CariResto merupakan web yang pencari restoran yang cepat, aman, dan mudah">
  <meta name="theme-color" content="#5239EE" />

  <link rel="shortcut icon" href="./icons/favicon.png" type="image/x-icon">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

  <title>Cari Resto | Web Pencari Restoran</title>
  
</head>

<body>
  <loading-indicator></loading-indicator>
  <modal-error></modal-error>
  <button class="skip-link" aria-label="menu" tabindex="0">Menuju ke konten</button>

  <nav class="container-fluid">
    <app-bar></app-bar>
  </nav>

  <header class="container">
    <hero-element></hero-element>
    <picture>
      <source media="(max-width: 600px)" srcset="./images/heros/hero-image_2-small.jpg">
      <img src="./images/heros/hero-image_2-large.jpg" width="100%" height="100%" alt="Cari Resto">
    </picture>
  </header>

  <main id="mainContent" tabindex="0"></main>

  <footer>
    <app-footer></app-footer>
    <p>Copyright © 2020 - CariResto</p>
  </footer>


</body>

</html>