<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <nav>
    <img src="./images/logos/logo.png" width="150" alt="">
    <!-- <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Promo</a></li>
      <li><a href="#">Terlaris</a></li>
      <li><a href="#">Di Sekitar</a></li>
    </ul>
    <a class="btn" href="#">Contact Us</a> -->
    <a class="btn hamburger-menu" href="#"><i class="fa-solid fa-bars"></i></a>
  </nav>

  <header>
    <div class="text-header">
      <h2 class="h1">Cari Resto Gampang dan Praktis</h2>
      <p>Bingung mau makan di mana? Cari Resto Solusinya!</p>
      <form class="form-group">
        <input type="text" name="search" id="search-field" placeholder="Mau makan dimana hari ini?">
        <button type="submit" href="test" class="btn"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
      </form>
    </div>
    <img src="./images/heros/hero-image_2.jpg" width="450" alt="">
  </header>

  <h1>Restaurant Apps Starter Project</h1>
  <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
  <p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
  <img src="./images/heros/hero-image_3.jpg" width="450" alt="">
  <img src="./images/heros/hero-image_4.jpg" width="450" alt="">
  <script src="app.bundle.js"></script>
</body>
</html>
