:root{
  /* Color */
  --purple: #5239EE;
  --purple-2: #dcd7fc;
  --black-1: #4A4453;
  --black-2: #7A7485;
  --black-3: #AFA8BA;
  --white-1: #FFF;
  --white-2: #FDF7FF;
  --yellow: #FF7C54;

  /* Typography Size */
  --font-size-1: 67px;
  --font-size-2: 51px;
  --font-size-3: 38px;
  --font-size-4: 29px;
  --font-size-5: 21px;
  --font-size-6: 16px;
  --font-size-small : 11px;

  /* Breakpoint */
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;

  /* Font */
  --sans-serif: Roboto, Arial, Helvetica, sans-serif;

  /* Font Weight */
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
}