@import 'default.css';

html, body{
  margin: 0;
  padding: 0;
}

body{
  font-family: var(--sans-serif);
  color: var(--black-1);
  background-color: var(--white-1);
  font-size: var(--font-size-6);
}

a, button{
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

a:hover, button:hover{
  transition: all 0.3s;
}

button{
  cursor: pointer;
}

button, .btn{
  padding: 16px 24px;
  border-radius: 8px;
}

img{
  max-width: 100%;
  display: block;
}

h1, h2, h3, p{
  margin: 0;
}

button{
  border: none;
}

.container-fluid{
  padding-left: 16px;
  padding-right: 16px;
}

h1, .h1{
  font-size: var(--font-size-4);
}
h2, .h2{
  font-size: var(--font-size-5);
}
h3, .h3{
  font-size: var(--font-size-6);
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: var(--purple);
  color: var(--white-1);
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
    top: 0;
}

section, header, footer{
  padding-top: 24px;
  padding-bottom: 24px;
}

section{
  margin-top: 48px;
}


header input[type=text]:focus, button:focus{
  outline-color: var(--yellow);
}

a:focus{
  outline-color: var(--yellow);
}

main{
  padding-top: 24px;
}

/* Navbar Start */
nav{
  box-shadow: 0 2px 16px 0px rgba(74, 68, 83, 0.2);
  position: fixed;
  background-color: var(--white-1);
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

nav > .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > .container > ul{
  display: none!important;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
  color: var(--black-2);
  font-weight: var(--semi-bold);
}

nav > .container li:hover a{
  color: var(--purple);
}

nav > .container > a:nth-child(3){
  display: none!important;
  font-weight: var(--semi-bold);
  color: var(--white-1)!important;
  background-color: var(--purple);
}

.hamburger-menu{
  color: var(--white-1)!important;
  background-color: var(--purple);
}

.hamburger-menu:hover{
  color: var(--purple)!important;
  background-color: var(--purple-2);
}
/* Navbar End */

/* Header Start */
header{
  position: relative;
  margin-top: 64px;
}

header > .text-header{
  z-index: 1;
  position: absolute;
  text-align: center;
  color: var(--white-1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

header > div > p{
  margin-top: 16px;
}

header .form-group{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  width: 100%;
  max-width:var(--sm);
}

header button{
  font-weight: var(--semi-bold);
  background-color: var(--purple);
  color: var(--white-1);
  border-radius: 0 8px 8px 0!important;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: var(--font-size-6);
}

header button:hover{
  background-color: var(--purple-2);
  color: var(--purple);
}

header input[type=text]{
  border-radius: 8px 0 0 8px;
  padding: 8px 12px;
  flex-grow: 1;
  border: none;
  box-shadow: 0 2px 16px 0px rgba(74, 68, 83, 0.2);
  
}

header > img{
  z-index: -1;
  filter: brightness(0.7);
  border-radius: 24px;
  width: 100%;
}

header button > span{
  display: none;
}

/* Header End */

/* Service Start */
#service{
  background-color: var(--white-2);
}

#service > div{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#service > div > a{
  background-color: var(--purple);
  color: var(--white-1);
  font-weight: var(--semi-bold);
  text-align: center;
}

#service > div > a:hover{
  background-color: var(--purple-2);
  color: var(--purple);
  font-weight: var(--semi-bold);
}

#service > div .h2{
  font-weight: var(--semi-bold);
}

#service > div .h3{
  margin-top: 8px;
}

#service .content{
  display: grid;
  margin-top: 36px;
  gap: 16px;
  align-items: stretch;
  grid-template-columns: 1fr;
}

#service .item{
  background-color: var(--white-1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 24px;
  border-radius: 16px;
}

#service .item > .h3{
  background-color: var(--white-1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: var(--semi-bold);
}

#service .item > .icon{
  font-size: 24px;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  color: var(--purple);
  background-color: var(--purple-2);
  border-radius: 100%;
  display: inline-block;
  margin: auto;
}

/* Service End */

/* List Restoran Start */

#list-restoran > h2,
#list-restoran > p{
  text-align: center;
  margin-top: 8px;
}

#list-restoran .content{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 24px;
  gap: 36px;
}

#list-restoran .item > img{
  border-radius: 24px;
}

#list-restoran .item > .deskripsi{
  margin-top: 16px;
  font-weight: var(--semi-bold);
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  text-align: center;
}

#list-restoran .deskripsi > .star{
  color: var(--yellow);
}

/* List Restoran End */

/* Footer Start */
footer{
  background-color: var(--purple);
}

.grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

footer img{
  margin: auto;
  max-width: 200px;
}

footer ul{
  list-style: none;
  padding: 0;
  display: flex;
  gap: 16px;
  margin: auto;
}

footer li> a{
  box-sizing: border-box;
  font-size: 28px;
  display: block;
  width: 48px;
  height: 48px;
  line-height: 50px;
  text-align: center;
  background-color: var(--white-1);
  border-radius: 100%;
  color: var(--purple);
}

footer li:hover > a .fa-instagram{
  color: #E1306C;
  transition: all 0.3s;
}

footer li:hover > a .fa-github{
  color: #333;
  transition: all 0.3s;
}

footer > p{
  text-align: center;
  color: var(--white-1);
  margin-top: 32px;
}
/* Footer End */

@media (max-width: 320px) {
  header > .text-header{
    top: 32px;
    transform: translate(-50%, 0);
    width: 80%;
  }

  button, .btn{
    padding: 12px 16px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #service .content,
  #list-restoran .content,
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hamburger-menu{
    display: none!important;
  }

  nav > .container > ul{
    display: flex!important;
  }

  nav > .container > a:nth-child(3){
    display: inline!important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #list-restoran .content{
    grid-template-columns: repeat(3, 1fr);
  }

  .text-header > .h1{
    font-size: var(--font-size-1);
  }

  .text-header > P{
    font-size: var(--font-size-4);
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #service .content{
    grid-template-columns: repeat(4, 1fr);
  }
  
  #list-restoran .content{
    grid-template-columns: repeat(3, 1fr);
  }

  #list-restoran .item > .deskripsi{
    flex-direction: row;
  }

  h1, .h1{
    font-size: var(--font-size-2);
  }
  h2, .h2{
    font-size: var(--font-size-3);
  }
  h3, .h3{
    font-size: var(--font-size-5);
  }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}